@model IEnumerable<Instagramp_2.Models.SearchTermModel>

@{
    ViewData["Title"] = "Index";
}

<div class="searchTerm">
    <h1>Search Terms</h1>
    <br>

</div>

<div class="container">
    <div class="row searchrow">
        @foreach (var item in Model.Select((value, i) => new { i, value }))
        {
            <form asp-action="@item.value.name">
            <div class="searchcard">
                <div class="searchimg-container">
                    <img src="@item.value.imgURL" class="card-img-top" alt="Image Name">
                </div>
                <div class="searchcard-body">
                    <h2 class="searchcard-title">@item.value.name</h2>
                    <p class="searchcard-text">@item.value.description</p>
                    
                        <input name="categories" value="@item.value.name" type="hidden">

                        <input type="submit" value="Browse" class="btn-browse">
                </div>
            </div>
        </form>

        }
    </div>
</div>